<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Tamoino</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:beans-core.xml /WEB-INF/beans-web.xml classpath*:beans-webservices.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<persistence-unit-ref>
		<persistence-unit-ref-name>persistence/persistenceContext</persistence-unit-ref-name>
		<persistence-unit-name>OPENJPA_DERBY</persistence-unit-name>
	</persistence-unit-ref>

	<resource-ref>
 		<res-ref-name>jdbc/MyDataSource</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>

	<servlet>
		<servlet-name>FrontControllerServlet</servlet-name>
		<servlet-class>com.tamoino.web.FrontControllerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FrontControllerServlet</servlet-name>
		<url-pattern>/tifc.do</url-pattern>
	</servlet-mapping>

	<!-- exception-type related error pages -->
	<error-page>
		<exception-type>javax.servlet.ServletException</exception-type>
		<location>/error.jsp</location>
	</error-page>

	<!-- Manipulating a JavaScript file using JSP, but publishing with js file extension -->
	<servlet>
		<servlet-name>scriptjsp</servlet-name>
		<jsp-file>/script.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>scriptjsp</servlet-name>
		<url-pattern>/script.js</url-pattern>
	</servlet-mapping>
</web-app>
