<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Tamoino Web Services</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:beans-core.xml /WEB-INF/beans-webservices.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- This only makes sense while the EAR contains a single module, the WebServices one -->
	<!-- To be removed as soon as both Web and WebServices modules coexist in the EAR -->
	<persistence-unit-ref>
		<persistence-unit-ref-name>persistence/persistenceContext</persistence-unit-ref-name>
		<persistence-unit-name>OPENJPA_DERBY</persistence-unit-name>
	</persistence-unit-ref>
	<resource-ref>
 		<res-ref-name>jdbc/MyDataSource</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>

	<servlet>
		<servlet-name>CXFServlet</servlet-name>
		<display-name>CXF Servlet</display-name>
		<servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>CXFServlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>